ion-slides{
    height: 100%;
}
.red{
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: darkred;
}
.green{
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: darkcyan;
}
.blue{
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: blue;
}